setuptools==65.5.1

mock==4.0.2
responses==0.12.1
twine==3.2.0
pyyaml==5.4.1
requests==2.25.1
dataclasses==0.6
cached-property==1.5.2

urllib3==1.26.5
python-keycloak==0.25.0
redis==3.5.3
simplejson==3.17.3

pandas
psycopg2-binary

apache-airflow[amazon,async,password,postgres,virtualenv,redis]==2.2.3